<!DOCTYPE html>
<!--This will display the main menu page for the program-->
<html lang="en">
<head>
    <link href='/static/main.css' rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Time Table</title>
</head>
<body>
<img src= ../image/arrow.jpg alt="Arrow" width="980" height="980"/>
<h1>-Lab 6-</h1>
<div>
    <h2>Welcome {{user_name}}, to my first HTML page</h2>
</div>
<p>Register-for-private-access:   <a href="http://127.0.0.1:5000/password">Log in</a></p>
<P>List of pages to visit:</P>
<ul>
    <li><a href="http://127.0.0.1:5000/Time">Get current Time.</a></li>
    <li><a href="http://127.0.0.1:5000/Date">Get Current Date.</a></li>
    <li><a href="http://127.0.0.1:5000/Name">Insert Name.</a></li>
    <li><a href="http://127.0.0.1:5000/Poems">recommended sites for poems.</a></li>

</ul>

</body>
</html>