<!DOCTYPE html>
<!--This will display 3 External links-->
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/main.css" />
    <meta charset="UTF-8">
    <title>Poems</title>
</head>
<body>
<h1>Best websites for poems:</h1>
<P></P>
<ol>
    <li><a href="https://hellopoetry.com/">Hello poetry</a></li>
    <li><a href="https://commaful.com/">Comma ful</a></li>
    <li><a href="https://allpoetry.com/">all-poetry</a></li>
</ol>
<p></p>
<p><a href="http://127.0.0.1:5000">GO BACK!</a></p>
</body>
</html>